<ion-view view-title="Saylani Walfare International Trust">
  <ion-nav-buttons>
    <button class="button button-clear">
      <i class="icon ion-navicon" style="color: white;"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
  <!--  <ion-list>

      <ion-item>

      </ion-item>

    </ion-list>
-->
<br />
  <h4 class="positive" align="center">Available Services</h3>
  <div class="row">
      <div class="col">
        <img src="img/untitled1.jpg"  alt=""/>
        <span class="positive">Istakhara</span>
      </div>
      <div class="col">
        <img src="img/untitled2.jpg"  alt=""/>
        <span class="positive">Dua Request</span>
      </div>
      <div class="col">
        <img src="img/untitled3.jpg"  alt=""/>
        <span class="positive">Mass Training</span>
      </div>
      <div class="col">
        <img src="img/untitled4.jpg" alt=""/>
        <span class="positive">Saylani Offices</span>
      </div>
  </div>


  <div class="row">
      <div class="col">
        <img src="img/untitled5.jpg"  alt=""/>
        <span class="positive">Medical Service</span>
      </div>
      <div class="col">
        <img src="img/untitled6.jpg"  alt=""/>
        <span class="positive">Live Dars</span>
      </div>
      <div class="col">
        <img src="img/untitled7.jpg"  alt=""/>
        <span class="positive">Donate</span>
      </div>
      <div class="col">
        <img src="img/untitled8.jpg" ui-sref="qurbani" alt=""/>
        <span class="positive">Qurbani</span>
      </div>
  </div>

  </ion-content>
</ion-view>
